<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dialect Classification</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/one-page-wonder.css" rel="stylesheet">

  <!-- Link to script file -->
  <link rel="shortcut icon" href="favicon.ico">

  
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Dialect Classification</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- ->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
        </ul>
      </div>
      <!-- -->
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h6 style="font-size:220%;" align="left" class="masthead-subheading mb-0">Please record yourself reading the 
          following sentences and upload the resulting file.</h6><br></br>
        <p style="font-size:150%;" align="left">When sunlight strikes the raindrops in the air, they act like a prism 
          and form a rainbow. The rainbow is a division of white light into many beautiful colors.  
          These take the shape of a long round arch, with its path high above, and its two ends apparently beyond 
          the horizon.  There is, according to legend, a boiling pot of gold at one end.  People look, but no one ever 
          finds it.  When a man looks for something beyond his reach, his friends say he is looking for the pot of gold 
          at the end of the rainbow.</p>
          <form id="moment-pane-upload-form" enctype="multipart/form-data">
            <input id="moment-pane-file-btn" accept="audio/*" type="file" class="btn btn-primary btn-xl rounded-pill mt-5" name="audio" multiple>
          </form>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section id="results">
    <div class="container">
        <div class="col-lg-15 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Prediction Results</h2>
            <p id = "resultText">Loading Results...</p>
            <p>Are you related to this region?</p>
            <div class="ey">
                <select id = "validation">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select><br></br>
            </div>
            <hr>
            <h3 class="display-4" style="font-size:110%;">We would like to learn a bit more information about you.</h3>
            <p>1. In what state were you born (if you were born outside of the U.S., please select N/A)?</p>
            <select id = "home_state">
                <option value="NA">N/A</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select><br></br>
            <p>2. Have you lived in a different U.S. state for more than 6 months in the past five years? If so, please list the state names separated by comma.</p>
            <form>
                <input type="text" name="cities" id = "other_states"><br>
            </form><br>
            <p>3. Are you fluent in a second language?</p>
            <select class="ey" id = "second_language">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br></br>
            <input type="submit" value="Submit" id="submitButton"><br><br>
            <p id="submitMessage"></p>
          </div>
        </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; CMU 11-791</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>


</body>

</html>
